@import "tailwindcss";

body {
  @apply bg-[#F9FAFB] text-slate-900 antialiased;
}

@keyframes fade-in {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease forwards;
}


.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee__track {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 14px;              /* меньше gap — меньше “прилипаний” визуально */
  width: max-content;
  animation: marquee-x 24s linear infinite;
  will-change: transform;
}

.marquee__item {
  flex: 0 0 auto;
}

.marquee:hover .marquee__track {
  animation-play-state: paused;
}

@keyframes marquee-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
